<div class="footer-shadow">
<div class="footer">
  <a href="mailto:dmoreiramaia@gmail.com "><%=  image_tag("mail.png", alt: "Diogo Maia Moreira") %></a>
    <a href="https://vimeo.com/fr/">
    <%=  image_tag("vimeo.png", alt: "Diogo Maia Moreira") %>
  </a>
</div>
<p class="link-footer"><%= link_to 'Mentions légales', mentions_path %></p>
</div>
