<%= render "components/header" %>
<body style="background-image: url('https://res.cloudinary.com/dft5iblyz/image/upload/v1611095487/3_xpezmf.jpg'); background-size: cover;">

<div class="flex-acceuil">
<div id="img-accueil">

</div>

<div class="map">
<iframe src="https://www.google.com/maps/d/u/3/embed?mid=1r1dLwP8pgyyyONEbSuhJQMb-5PBEPEiM" width="1357" height="600"></iframe>
</div>
</div>
</body>
<%= render "components/footer" %>
