.map{
  text-align: center;
  margin-bottom: 50px;

}

.footer {
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  padding: 0px 50px;
  color: white;
  margin-top: 30px;

}


@media screen and (max-width: 550px) {
.display-grid-card{
  display: grid;
  grid-template-columns: 1fr ;
  justify-items: center;
}
}

  .lock-item img{
  width:30px;
  margin: 20px;
}


@media screen and (max-width: 550px) {
.img-trajet img{
  width: 257px;
  height: 307px;
  object-fit:cover;
  filter: brightness(50%);
  border-radius: 10px;
  margin: 30px;

}}


@media screen and (min-width: 551px) {
.img-trajet img{
  width: 507px;
  height: 257px;
  object-fit:cover;
  filter: brightness(50%);
  border-radius: 10px;
  margin: 30px;

}}

@media screen and (min-width: 551px) {
.display-grid-card{
  display: grid;
  grid-template-columns: 1fr ;
  justify-items: center;
}
}

@media screen and (min-width: 1201px) {
.display-grid-card{
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
}
}

@media screen and (min-width: 1700px) {
.display-grid-card{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
}
}

@media screen and (min-width: 100px) {
.display-grid-card-poete{
  display: grid;
  grid-template-columns: 1fr ;
  justify-items: center;
}
}

@media screen and (min-width: 801px) {
.display-grid-card-poete{
  display: grid;
  grid-template-columns: 1fr 1fr ;
  justify-items: center;
}
}

@media screen and (min-width: 1001px) {
.display-grid-card-poete{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
}
}

@media screen and (min-width: 1200px) {
.display-grid-card-poete{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr ;
  justify-items: center;
}
}

@media screen and (min-width: 1700px) {
.display-grid-card-poete{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  justify-items: center;
}
}

.img-trajet h1{
  bottom: 127px;
  left: 50px;
  position: relative;
  font-size: 18px;
  font-family: cabin;
  font-weight:bold;
  color:white;
  text-transform: uppercase;;
}

.img-trajet h5{
  bottom: 122px;
  left: 50px;
  position: relative;
  font-size: 18px;
  font-family: cabin;
  font-weight:bold;
  color:white;
}

.img-trajet h4{
  bottom: 122px;
  left: 50px;
  position: relative;
  font-size: 18px;
  font-family: cabin;
  font-weight:bold;
  color:white;
}

@media screen and (max-width: 550px) {
.img-poete img{
  width: 257px;
  height: 307px;
  object-fit:cover;
  filter: brightness(50%);
  border-radius: 10px;
  margin: 30px;

}}


.img-poete img{
  width: 257px;
  height: 407px;
  object-fit:cover;
  filter: brightness(50%);
  border-radius: 10px;
  margin: 30px;

}

.img-poete h1{
  bottom: 127px;
  left: 50px;
  position: relative;
  font-size: 18px;
  font-family: cabin;
  font-weight:bold;
  color:white;
  text-transform: uppercase;;
}

.img-poete h5{
  bottom: 122px;
  left: 50px;
  position: relative;
  font-size: 18px;
  font-family: cabin;
  font-weight:bold;
  color:white;
}

.img-poete h4{
  bottom: 122px;
  left: 50px;
  position: relative;
  font-size: 18px;
  font-family: cabin;
  font-weight:bold;
  color:white;
}
.form-inputs textarea{
  border-radius: 10px;
  border-color: red;
  margin-bottom: 20px;
}

.form-inputs label{
display:none;
}

.btn-banner-t{
  font-size: 15px;
  font-family: cabin;
  font-weight:bold;
  color:white;
  }

.btn-banner-t a{
  font-size: 15px;
  font-family: cabin;
  font-weight:bold;
  color:white;
}

.btn-banner-t {
  font-size: 15px;
  font-family: cabin;
  font-weight:bold;
  color:white;
  margin-left: 50px;

}
.btn-banner-t a:hover{
  font-size: 15px;
  font-family: cabin;
  font-weight:bold;
  color:white;
  text-decoration: none;
}


.btn-banner-p{
  font-size: 15px;
  font-family: cabin;
  font-weight:bold;
  color:white;
  margin-left:30px;
  margin-right:30px;
}

.btn-trajet a{
  font-size: 15px;
  font-family: cabin;
  font-weight:bold;
  color:white;

}

.paraph-t{

  padding: 20px;
  text-align:left !important;
  line-height: 30px;
}

@media screen and (min-width: 801px) {
.paraph-t{
width: 800px;
height: auto;
margin: 20px;
}}

@media screen and (min-width: 501px) and (max-width: 800px) {
.paraph-t{
width: 550px;
height: auto;
border-radius: 10px;
margin-top: 30px;
}}

@media screen and (max-width: 500px) {
.paraph-t{
width: 270px;
height: auto;
border-radius: 10px;
margin-top: 30px;
}}
.btn-trajet{
  justify-content:space-between  !important;
  align-items: center !important;
  display: flex !important;
  text-align: center;
  margin: 20px;

}


.show-trajet audio {
margin: 20px;
}


.info_t img{
margin: 20px;
width: 800px;
border-radius: 10px;
}

@media screen and (min-width: 801px) {
.show-trajet iframe{
box-shadow: 3px 1px 10px 2px #F2F2F2;
margin: 30px;
border-radius: 20px;
width: 800px;
}}

@media screen and (min-width: 501px) and (max-width: 800px) {
.show-trajet iframe{
box-shadow: 3px 1px 10px 2px #F2F2F2;
margin: 30px;
border-radius: 20px;
width: 480px;
height: 300px;
}}

@media screen and (max-width: 500px) {
.show-trajet iframe{
box-shadow: 3px 1px 10px 2px #F2F2F2;
margin: 30px;
border-radius: 20px;
width: 270px;
height: 200px;
}}

@media screen and (min-width: 801px) {
.carousel-item img{
border-radius: 20px;
width: 800px;
border-radius: 10px;
margin-top: 30px;
}}

@media screen and (min-width: 501px) and (max-width: 800px) {
.carousel-item img{
width: 480px;
height: 300px;
border-radius: 10px;
margin-top: 30px;
}}

@media screen and (max-width: 500px) {
.carousel-item img{
width: 270px;
height: 200px;
border-radius: 10px;
margin-top: 30px;
}}

@media screen and (min-width: 801px) {
.info_t img{
border-radius: 20px;
width: 800px;
border-radius: 10px;
margin-top: 30px;
}}

@media screen and (min-width: 501px) and (max-width: 800px) {
.info_t img{
width: 480px;
height: 300px;
border-radius: 10px;
margin-top: 30px;
}}

@media screen and (max-width: 500px) {
.info_t img{
width: 270px;
height: 200px;
border-radius: 10px;
margin-top: 30px;
}}

@media screen and (min-width: 801px) {
#journal iframe{
margin-top: 20px;
width: 750px;
height: 1000px;
}}

@media screen and (min-width: 200px) and (max-width: 500px) {
#journal iframe{
margin-top: 20px;
width: 270px;
height: 380px;
}}

@media screen and (min-width: 501px) and (max-width: 800px) {
#journal iframe{
margin-top: 20px;
width: 480px;
height: 600px;
}}

@media screen and (min-width: 1400px) {
.map iframe{
margin-top: 20px;
width: 1357px;
height: 1000px;
}}

@media screen and (min-width: 1100px) {
.map iframe{
margin-top: 20px;
width: 1000px;
height: 600px;
}}

@media screen and (min-width: 900px) and (max-width: 1099px) {
.map iframe{
margin-top: 20px;
width: 800px;
height: 500px;
}}

@media screen and (min-width: 801px) and (max-width: 899px) {
.map iframe{
margin-top: 20px;
width: 700px;
height: 500px;
}}

@media screen and (min-width: 200px) and (max-width: 500px) {
.map iframe{
margin-top: 20px;
width: 270px;
height: 380px;
}}

@media screen and (min-width: 501px) and (max-width: 800px) {
.map iframe{
margin-top: 20px;
width: 480px;
height: 600px;
}}

@media screen and (min-width: 1400px) {
#img-accueil {
margin-top: 20px;
width: 1357px;
height: 1300px;
  margin: 30px;
  text-align: center !important;
  object-fit:cover !important;
}}

@media screen and (min-width: 1100px) {
#img-accueil {
margin-top: 20px;
width: 1000px;
height: 600px;
  margin: 30px;
  text-align: center !important;
  object-fit:cover !important;
}}

@media screen and (min-width: 900px) and (max-width: 1099px) {
#img-accueil {
margin-top: 20px;
width: 800px;
height: 500px;
  margin: 30px;
  text-align: center !important;
  object-fit:cover !important;
}}

@media screen and (min-width: 801px) and (max-width: 899px) {
#img-accueil {
margin-top: 20px;
width: 700px !important;
height: 500px !important;
  margin: 30px;
  text-align: center !important;
  object-fit:cover !important;
}}

@media screen and (min-width: 200px) and (max-width: 500px) {
#img-accueil {
margin-top: 20px;
width: 270px;
height: 380px;
  margin: 30px;
  text-align: center !important;
  object-fit:cover !important;
}}

@media screen and (min-width: 501px) and (max-width: 800px) {
#img-accueil {
margin-top: 20px;
width: 480px;
height: 600px;
  margin: 30px;
  text-align: center !important;
  object-fit:cover !important;
}}

@media screen and (min-width: 900px) {
.flex input{
  border: solid 2px red;
    border-radius: 10px;
    margin: 20px;
    padding: 10px;
    width: 500px !important;
}}

@media screen and (min-width: 900px) {
.flex textarea{
  border: solid 2px red;
    border-radius: 10px;
    margin: 20px;
    padding: 10px;
    width: 500px !important;
    height: 250px !important;
}}

@media screen and (min-width: 1600px) {
.intro-poete{
    margin-left: 300px !important;
    margin-right: 300px !important;
}}

@media screen and (min-width: 1300px) and (max-width: 1599px) {
.intro-poete{
    margin-left: 200px !important;
    margin-right: 200px !important;
}}

@media screen and (min-width: 1100px) and (max-width: 1299px) {
.intro-poete{
    margin-left: 100px !important;
    margin-right: 100px !important;
}}

.title-tr{
  font-size: 25px;
  font-family: cabin;
  font-weight:bold;
  text-transform: uppercase;
  margin: 20px;
}

.title-c{
  font-size: 28px;
  font-family: cabin;
  font-weight:bold;
  text-transform: uppercase;
  margin: 20px;
}

.title-ss{
  font-size: 20px;
  font-family: cabin;
  font-weight:bold;
  font-style: italic;
  margin: 20px;
}

.container-m{
  text-align:center;
  padding:20px;
}
.info_t h1{
 font-size: 15px;
  font-family: cabin;
  color: grey;
  margin-top: 30px;
  justify-content: left;
  position: relative;
  right: 350px;
}

.date{
  display:flex;
  justify-content:space-around !important;
  align-items: center !important;
   font-size: 15px;
  font-family: cabin;
  color: grey;
  margin: 20px;
}



.intro-poete{
  font-size: 18px;
  font-family: cabin;
  margin: 50px;
  line-height: 38px;
  color:black;

}

.intro-m{
  font-size: 18px;
  font-family: cabin;
  line-height: 38px;
  color:black;

}
.flex{
  display:flex;
  flex-direction: column;
  justify-content:center !important;
  align-items: center !important;
   font-size: 18px;
  font-family: cabin;
  margin: 20px;
}

@media screen and (min-width: 1000px) {
.bio{
  display:flex;
  justify-content:space-around !important;
  align-items: center !important;

}
}

.contact-flex{
  display:flex;
  flex-direction: column;
  justify-content:center !important;
  align-items: center !important;

}

.mentions-legales{
  display:flex;
  flex-direction: column;
  justify-content:center !important;
  align-items: center !important;

}

.flex input{
  border: solid 2px red;
    border-radius: 10px;
    margin: 20px;
    padding: 10px;
    width: 270px;
}

.flex textarea{
  border: solid 2px red;
    border-radius: 10px;
    margin: 20px;
    padding: 10px;
    width: 270px;
}

#submit_form{
  color: white;
  width: 150px;
  background-color: red;
}

@media screen and (min-width: 900px) {
#submit_form{
  color: white;
  width: 170px !important;
  background-color: red;
}}

@media screen and (min-width: 1300px) {
.bio img{
border-radius: 20px;
object-fit: cover;
width: 350px;
height: 450px;
margin: 20px;
}}


@media screen and (min-width: 1300px) {
.bio p{
  width: 800px;
  font-size: 18px;
  font-family: cabin;
  margin: 20px;
  line-height: 35px;
  color:black;
  padding: 20px;
}}

@media screen and (min-width: 1000px) and (max-width: 1299px) {
.bio img{
border-radius: 20px;
object-fit: cover;
width: 400px;
height: 600px;
margin: 20px;
}}


@media screen and (min-width: 1000px) and (max-width: 1299px) {
.bio p{
  width: 500px;
  font-size: 18px;
  font-family: cabin;
  margin: 20px;
  line-height: 35px;
  color:black;
  padding: 20px;
}}

@media screen and (min-width: 500px) and (max-width: 999px) {
.bio{
flex-direction: column;
justify-content:center !important;
align-items: center !important;
}}


@media screen and (min-width: 500px) and (max-width: 999px) {
.bio img{
border-radius: 20px;
object-fit: cover;
width: 350px;
height: 500px;
margin: 20px;
margin-left: 50px;
}}


@media screen and (min-width: 500px) and (max-width: 999px) {
.bio p{
  width: 400px;
  font-size: 18px;
  font-family: cabin;
  margin: 20px;
  line-height: 35px;
  color:black;
  padding: 20px;
}}

@media screen and (min-width: 200px) and (max-width: 499px) {
.bio img{
border-radius: 20px;
object-fit: cover;
width: 280px;
height: 400px;
margin: 10px;
}}


@media screen and (min-width: 200px) and (max-width: 499px) {
.bio p{
  width: 250px;
  font-size: 18px;
  font-family: cabin;
  margin: 20px;
  line-height: 35px;
  color:black;
  padding: 20px;
}}

.date h1{

   font-size: 15px;
  font-family: cabin;
  color: grey;

}
.carousel-item h1{
 font-size: 15px !important;
  font-family: cabin !important;
  color: grey !important;
  margin-top: 30px;
  justify-content: left;
  position: relative;
  right: 350px;
}

.btn-banner-p a{
  font-size: 15px;
  font-family: cabin;
  font-weight:bold;
  color:white;
}

.btn-banner-p a:hover{
  font-size: 15px;
  font-family: cabin;
  font-weight:bold;
  color:white;
  text-decoration: none;
}

.form-inputs h5{
    font-size: 15px;
  font-family: cabin;
  font-weight:bold;
  margin-bottom:20px;
  justify-content:center  !important;
  align-items: center !important;
   display: flex !important;
    flex-direction: column !important;
    text-align: center;
}

.show-trajet{
  justify-content:center  !important;
  align-items: center !important;
   display: flex !important;
    flex-direction: column !important;
    text-align: center;
    margin-top: 40px;
}

.title-new{
  margin-top: 20px;
  font-size: 18px;
  font-family: cabin;
  font-weight:bold;
  color: red;
  margin-bottom:20px;
  justify-content:center  !important;
  align-items: center !important;
   display: flex !important;
    flex-direction: column !important;
    text-align: center;
}

.form-inputs div{
      display: flex !important;
    flex-direction: column !important;
    justify-content:center  !important;
  align-items: center !important;

}

.form-actions btn{
      display: flex !important;
    flex-direction: column !important;
    justify-content:center  !important;
  align-items: center !important;
  text-align: center;

}
.menu-text{
  font-family: 'Cabin', sans-serif;
  display:flex;
}

.footer-shadow{
  box-shadow: 0 2px 6px rgba(0,0,0,0.3);
      background: white;

}

.footer-shadow p{
  text-align:center;
  padding-bottom: 20px;
}


.link-footer a{
  color:red;
  font-size: 12px;
  font-family: cabin;

}

.link-footer a:hover{
  color:grey;
  font-size: 12px;
  font-family: cabin;
  text-decoration:none;

}

@media (min-width: 499px) {
.menu-resp{
  margin-left: 80px
}}

@media (min-width: 499px) {
.lock-item img {
    width: 30px !important;
    margin-left: 10px;
  }}

.flex-acceuil{
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;
}


#img-tree img{
  margin: 30px;
  text-align: center !important;
  width: auto;
  height:auto !important;
  object-fit:cover !important;

}

.menu-resp a{
  color:black;
  font-weight:bold;
  font-family: Cabin, sans-serif;
}

.menu-resp button{
  color:white;
  background-color: red;
  font-weight:bold;
  font-family: Cabin, sans-serif;
}

@media (max-width: 600px) {
.menu{
 padding-left: 5px;

}
}

.menu-text a{
  margin: 20px;
  color: black;
  font-size: 20px;
}


.menu-text a:hover{
  font-weight: bold;
  text-decoration: none;
  color: red;
}

.menu {
  box-shadow: 0 2px 6px rgba(0,0,0,0.2);
  background: white;
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 100px;
  padding: 0px 50px;
  color: white;
  margin-bottom: 20px;
}

.menu-resp button:hover{
  color:white;
  background-color: red;
  font-weight:bold;
  font-family: Cabin, sans-serif;
}

.menu-resp a:hover{
  color:red;
  font-weight:bold;
  font-family: Cabin, sans-serif;
}

@media (min-width: 550px) {
.menu-resp{
  display:none;
}}

@media (max-width: 550px) {
.menu-text{
  display:none;
}}


.footer img {
width: 50px;
height: auto;
margin:20px;
}
